<!-- signup.html -->
{% extends 'base.html' %}

{% block content %}
<h2>회원 가입</h2>
<form action="{% url 'accounts:signup' %}" method="POST">
    {% csrf_token %}
    <label for="user_name">user_name: </label>
    <input type="text" name="user_name" id="user_name"><br><br>
    <label for="email">email: </label>
    <input type="email" name="email" id="email"><br><br>
    <label for="passwd">password: </label>
    <input type="password" name="passwd" id="passwd"><br><br>
    <input type="submit" value="회원가입">
</form>
{% endblock %}